<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSRegion" value="USEast2"/>
    <add key="AWSAccessKey" value="AKIA3TBFCIWD4POXP5H5"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.heroes.bayada.com" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>