<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
  <connectionStrings>
    <add name="SQADEVA" connectionString="Data Source=GP_TEST_SQL\GP;Initial Catalog=SQADEVA;integrated security=false;persist security info=false;User Id=patrickdevers;Password=bay2010;" />
  </connectionStrings>
  <appSettings>
    <add key="SQADEVA" value="Data Source=GP_TEST_SQL\GP;Initial Catalog=SQADEVA;integrated security=false;persist security info=false;User Id=patrickdevers;Password=bay2010;" />
  </appSettings>
</configuration>